.header {
        background-color: #f7efad;
        width: 100%;
        overflow: auto;
    }
.header a{
    float: left;
    text-align: center;
    width: 25%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 32px;
}
.header a:hover{
    background-color: teal;
    color: white;
    
    
}
.active{
    background-color: red;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

* {
     box-sizing: border-box;
   }

.column {
  float: left;
  width: 33.33%;
  padding: 25px;
}
.row{
  content: "";
  clear: both;
  display: table;
  justify-content: space-between;
  
}


.centercm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: serif;
    text-align: center;
    font-size: 32px;
    color: white;
    
    
}
